In [1]:
import pandas as pd
pd.options.display.max_colwidth = 200

In [3]:
# path1 = (r'C:\Users\Christina\Desktop\Project2\Human Development Index - Full.csv')

# HDI_df = pd.read_csv(path1)
# HDI_df

path2 = (r'C:\Users\Christina\Desktop\Project2\olympics_medals_country_wise.csv')
olympic_df = pd.read_csv(path2)
olympic_df

,countries,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
0,Afghanistan,(AFG),15,0,0,2,2,0,0,0,0,0,15,0,0,2,2
1,Algeria,(ALG),14,5,4,8,17,3,0,0,0,0,17,5,4,8,17
2,Argentina,(ARG),25,21,26,30,77,20,0,0,0,0,45,21,26,30,77
3,Armenia,(ARM),7,2,8,8,18,8,0,0,0,0,15,2,8,8,18
4,Australasia,(ANZ),2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Zambia,(ZAM),14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
152,Zimbabwe,(ZIM),14,3,4,1,8,1,0,0,0,0,15,3,4,1,8
153,Independent Olympic Athletes,(IOA),3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
154,Independent Olympic Participants,(IOP),1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
155,Mixed Team,(ZZX),3,11,6,8,25,0,0,0,0,0,3,11,6,8,25